.header {
    padding-top: 77px;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 125px;
}
.header__logo {
    flex: 0 0 80px;
}
.header__logo img{
    max-width: 100%;
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu__item {
}
.menu__link {
    font-size: 14px;
    color: #9A9EA6;
    transition: color .3s ;
    &:hover{
        color: #4737FF;
    }
}