.service {
    margin-top: 140px;
}
.service__container {
}
.service__inner {
}
.header-block {
    margin-bottom: 90px;
}
.header-block__label {
}
.header-block__title {
}
.service__body {
    display: flex;
    column-gap: 125px;
}
.service__body{
}
.service__img{
    width: 600px;
    height: 399px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    opacity: 0;
    transform: translateX(70px);
    transition: transform .9s ease;
}
.service__img.active{
    opacity: 1;
    transform: translateX(0);
}
.service__content {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-70px);
    transition: transform .9s ease;
}
.service__content.active{
    opacity: 1;
    transform: translateX(0);
}

.service__content-title {
    font-size: 32px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 40px;
    line-height: 1.2;
}
.service__content-title span{
   color: #4475F2;
}
.service__content-text {
    line-height: 187.5%; 
}
.service__content-text-1{
    max-width: 411px;
    width: 100%;
}
.service__content-text-2{
    max-width: 373px;
    width: 100%;
}
.service__content-text:not(:last-child) {
    margin-bottom: 15px;
}

@media (max-width: 1200px){
    .service {
        margin-top: 150px;
    }
    .service__body {
        column-gap: 80px;
    }
}
@media (max-width: 1000px){
    .service {
        margin-top: 80px;
    }
    .header-block {
       text-align: center;
       margin-bottom: 50px;
    }
    .service__body {
        flex-direction: column;
        row-gap: 70px;
        align-items: center;
    }
    .service__content {
       align-items: center;
    }
    .service__content-title {
       text-align: center;
    }
    .service__content-text-2{
        max-width: 411px;
    }
}