.services {
    margin-top: 200px;
}
.services__container {
}
.services__inner {
}
.header-block {
    margin-bottom: 90px;
}
.header-block__label {
}
.header-block__title {
}
.services__body {
    display: flex;
    column-gap: 125px;
}
.services__body{
}
.services__img{
    width: 600px;
    height: 399px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
    opacity: 0;
    transform: translateX(-70px);
    transition: transform .9s ease;
}
.services__img.active{
    opacity: 1;
    transform: translateX(0);
}
.services__content {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(70px);
    transition: transform .9s ease;
}
.services__content.active{
    opacity: 1;
    transform: translateX(0);
}
.services__content-title {
    font-size: 32px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 40px;
    line-height: 1.2;
}
.services__content-title span{
   color: #4475F2;
}
.services__content-text {
    line-height: 187.5%; 
}
.services__content-text-1{
    max-width: 411px;
    width: 100%;
}
.services__content-text-2{
    max-width: 373px;
    width: 100%;
}
.services__content-text:not(:last-child) {
    margin-bottom: 15px;
}

@media (max-width: 1200px){
    .services {
        margin-top: 150px;
    }
    .services__body {
        column-gap: 80px;
    }
}
@media (max-width: 1000px){
    .services {
        margin-top: 80px;
    }
    .header-block {
       text-align: center;
       margin-bottom: 50px;
    }
    .services__body {
        flex-direction: column;
        row-gap: 70px;
        align-items: center;
    }
    .services__body img{
       order: 1;
    }
    .services__content {
       align-items: center;
    }
    .services__content-title {
       text-align: center;
    }
    .services__content-text-2{
        max-width: 411px;
    }
}